*{
    font-family: sans-serif;/*Phông chữ cho tất cả*/
    margin:0;
    box-sizing: border-box; /* Khi thiết lập giá trị này, thì width và heigh sẽ bao gồm cho cả phần nội dung, padding và border nhưng không bao gồm margin. */
    text-transform: capitalize; /*chữ đầu tiên của mỗi thành phần là chữ hoa */
  }
  
  .cacthe{
    display: flex;/*Khai báo để có thẻ sử dụng các thẻ flex*/
    justify-content: center;/* Căn chỉnh các phần tử con theo trục chính (theo chiều ngang) của phần tử cha để chúng được căn giữa theo chiều ngang.*/
    align-items: center;/* Căn chỉnh các phần tử con theo trục phụ (theo chiều dọc) của phần tử cha để chúng được căn giữa theo chiều dọc */
    min-height: 100vh;/* hiết lập chiều cao tối thiểu của phần tử là 100% của chiều cao của cửa sổ trình duyệt */
    background-image: url(https://bizflyportal.mediacdn.vn/bizflyportal/1710/2427/2021/08/29/21/08/tic16302245334977.jpg);
    background-size: cover;
  }
  
  .cacthe form{
    padding:20px;
    background: #fff; 
  }
  
  .cacthe form .hang{
    display: flex; 
    flex-wrap: wrap; /*hỗ trợ xuống dòng khi thay đổi kích thước */
    gap:15px; /*đặt khoảng cách giữa các phần tử là 15px*/
  }
  
  .cacthe form .hang .cot{
    flex:1 1 250px; 
    /* flex-grow: 1;: Phần tử này sẽ mở rộng để sử dụng toàn bộ không gian trống của hộp nếu cần.
       flex-shrink: 1;: Phần tử này có thể co lại nếu không còn đủ không gian để hiển thị tất cả các phần tử con.
       flex-basis: 250px;: Phần tử này sẽ có kích thước ban đầu là 250px trước khi flex-grow hoặc flex-shrink được áp dụng.
    */
  }
  
  .cacthe form .hang .cot .title{
    font-size: 20px; /* chỉnh kích cỡ chữ */
    color:#333; /*màu*/
    text-transform: uppercase; 
  }
  
  .cacthe form .hang .cot .inputBox{
    margin:15px 0; 
  }

   .cacthe form .hang .cot .inputBox input{
    width: 100%; 
    padding:10px; 
    font-size: 15px;
    text-transform: none; 
  }
  
  .cacthe form .hang .cot .inputBox img{
    height: 35px;
    margin-top: 5px; 
    filter: drop-shadow(0 0 1px #000); 
  }
  
  .cacthe form .submit-thanhtoan{
    width: 100%;
    padding:12px; 
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .cacthe form .submit-thanhtoan:hover{ 
    background: #2ecc71;
  }
